html {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  /* font-family: "Montserrat Alternates", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif; */
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  padding: 0;
}

section {
  padding: 100px 100px;
  /* 
  не надо задавать максимальную высоту секции  max-height: 100vh;
 */
  background-color: rgba(248, 248, 248, 0.856);
}

h3 {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 15px;
  font-size: 36px;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
  font-family: Montserrat;
  color: rgb(129, 14, 58);
}

.link-icon {
  height: 30px;
  width: 30px;
}

.Main-section-heading {
  padding-top: 15px;
  font-family: Montserrat;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.Main-heading-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 5px solid rgb(129, 14, 58);
}

.logo__text {
  color: #490a3bfb;
  opacity: unset;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8px;
  font-weight: 800;
  font-family: Montserrat;
}

.menu__list {
  font-family: Montserrat;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu__list-item {
  margin-left: 20px;
}

.menu__list-link {
  color: aliceblue;
  text-decoration: none;
}

a.menu__list-link {
  margin-bottom: 50px;
}

.menu__list-link:hover {
  border-bottom: 2px solid #490a3bfb;
  transition: 1s;
}

.header {
  background-color: rgba(46, 8, 48, 0.822);
}

.header__top {
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 70px;
}

.header__top-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 70px;
  margin-bottom: 100px;
  background: linear-gradient(
    45deg,
    #ebe7e7,
    #ffffff,
    #e6e7bd,
    #89e3fac7,
    #af92ffb4,
    #736599ec,
    #490a3bfb
  );
}

.header__content-inner {
  padding: 120px 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    25deg,
    #e7f1f8,
    #ffffff,
    #ffffff,
    #ffffff,
    #cbefff
  );
}

.heading__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 70px;
  margin-left: 100px;
}

.main__heading {
  width: 350px;
  font-family: Montserrat;
}

.main__heading-color {
  color: rgb(129, 14, 58);
  display: block;
  /*  Делаю анимацию для заголовка */
  /*   animate__zoomIn */
}

.frontend {
  font-size: 48px;
}

.header__content-image {
  background-size: contain;
  width: 600px;
  height: 500px;
}

.content__text {
  font-family: Montserrat;
  line-height: 36px;
}

.cooperation {
  color: rgb(129, 14, 58);
  font-weight: 700;
  display: inline-block;
}

.icons {
  font-size: 40px;
  color: rgb(129, 14, 58);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockquote {
  background: linear-gradient(
    45deg,
    #af92ffb4,
    #89e3fac7,
    #e6e7bd,
    #ffffff,
    #ebe7e7
  );
  background-repeat: no-repeat;
  height: 30px;
  color: rgb(49, 36, 66);
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockquote-offering {
  background: linear-gradient(
    -45deg,
    #ebe7e7,
    #ffffff,
    #8bb8ecc7,
    #f7f3e0,
    #ffffff,
    #ebe7e7,
    #2e8f9cfb,
    #3ea2affb,
    #185158fb
  );
}

.blockquote-text {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-left: 5px solid rgb(129, 14, 58);
  border-right: 5px solid rgb(129, 14, 58);
}

.quote {
  font-size: 16px;
  text-align: center;
}

.arrow-image {
  width: 50px;
  height: 60px;
}

.about {
  background-image: url(images/bg-images/blockquote-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.link-icon {
  margin-left: 30px;
  height: 40px;
  width: 40px;
}

.about__inner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.about__text-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.about__text {
  width: 400px;
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 25px;
}

h2.about__heading {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 15px;
  font-size: 36px;
  font-family: Roboto Condensed;
}

.header__about {
  display: block;
  width: 400px;
  padding-top: 25px;
}

.about__images-inner {
  padding-top: 200px;
  padding-right: 50px;
}

/*  .about__image-bg {
  width: 400px;
  height: 356px;
  position: absolute;
  z-index: -90; 
  border-radius: 48%;  */
/*  убран цветовой фон, потому что форма обратной связи показывается внизу картинок 
} */

.about__image-photo {
  width: 400px;
  height: 356px;
  /* position: absolute; */
  /*   z-index: 100; */
  box-shadow: 12px 12px 2px 1px rgba(87, 13, 47, 0.678);
  /*  display: flex;
  justify-content: center; */
}

.about__btn {
  height: 45px;
  width: 250px;
  background-color: rgb(129, 14, 58);
  margin-left: 38%;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: #0b1720 inset 0 0 6px;
  cursor: pointer;
  font-size: 18px;
  color: aliceblue;
  /*   margin: 0; */
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto Condensed;
  /*   margin: 0 auto; кнопка встаёт вначале странице */
}

.about__btn:hover {
  background-color: rgb(11, 23, 32);
  box-shadow: rgb(46, 60, 71) inset 0 0 10px;
}

.btn__text {
  font-size: 18px;
  color: aliceblue;
  margin: 0;
}

.animate__pulse {
  animation-iteration-count: infinite;
}

.My__skills {
  min-height: 400px;
  background: linear-gradient(75deg, #ffffff, #dfe9f8c9, #ffffff, #ffffff);
}

.My__skills-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.My__skills-info {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 40px;
}

.My__skills-info-item {
  width: 350px;
  border-top: 3px solid rgb(82, 34, 97);
  padding: 10px 0 28px;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1d1d1d;
  position: relative;
}

.My__skills-info-item span {
  display: block;
  position: absolute;
  margin-right: 7px;
  right: 0;
  top: 0;
}

.My__skills-info-item span::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #f0f0f0;
  right: -7px;
  top: -3px;
  width: 100%;
}

.My__skills-icons {
  width: 450px;
  display: flex;
  flex-direction: center;
  justify-content: space-between;
}

.My__skills-icons-container {
  column-count: 3;
  column-gap: 40px;
}

.My__skills-icon {
  width: 130px;
}

.My__skills-icon img {
  width: 130px;
  height: 130px;
  margin-bottom: 40px;
}

.My__offering {
  background-image: url(images/bg-images/bg5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.my__offering-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.my__offering-item {
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  min-width: 400px;
  height: 450px;
  color: rgb(0, 0, 0);
  font-family: Roboto Condensed;
  font-size: 25px;
  line-height: 45px;
  box-shadow: rgba(31, 9, 9, 0.698) 0 0 15px;
  align-items: center;
  text-align: center;
}

.offering__list {
  list-style: none;
  text-align: left;
  line-height: 30px;
  max-width: 300px;
  list-style-type: circle;
}

.offering__list-item:hover {
  min-width: 350px;
  min-height: 40px;
  border-radius: 35px;
  background-color: rgb(129, 14, 58);
  color: aliceblue;
  text-align: center;
}

.border {
  margin-top: 60px;
  height: 150px;
  border-left: 5px solid rgb(129, 14, 58);
  position: relative;
  left: 50%;
}

.image-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.portfolio {
  /* background-image: url(images/bg-images/blockquote-bg.png); */
  /*   background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(
    60deg,
    #d2e3e7,
    #ffffff,
    #ffffff,
    #ffffff,
    #d2e3e7
  );
}

.portfolio__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.portfolio__slider-image {
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolio__slider .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  text-align: center;
}

ul.slick-dots {
  display: flex;
  flex-direction: row;
  transform: translateX(-50%);
}

.slick-dots li {
  padding: 5px;
}

.slick-dots {
  list-style: none;
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: rgb(129, 14, 58);
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

.slick-active button {
  width: 16px;
  height: 16px;
}

.portfolio__slider-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
}

.Contacts {
  background-image: url(images/bg-images/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Contacts__inner {
  width: 1100px;
  height: 600px;
  margin-top: 50px;
  background-color: rgba(236, 236, 236, 0.774);
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.Contacts__heading {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 36px;
  font-family: Roboto Condensed;
}

.Contacts__left {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Contacts__left-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.Contacts__left-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
}

.Contacts__left-form input {
  height: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 25px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  display: block;
}

.textarea-message {
  height: 100px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 25px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
}

.contact-form-btn {
  width: 450px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 10px 10px 25px;
  margin-bottom: 20px;
  border: 2px solid black;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  background-color: #185158fb;
  color: aliceblue;
  cursor: pointer;
}

.contact-form-btn:hover {
  background-color: rgb(11, 23, 32);
  box-shadow: rgb(46, 60, 71) inset 0 0 10px;
}

.Contacts__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 350px;
  line-height: 30px;
}

.map-image {
  height: 570px;
  width: 430px;
  position: absolute;
  right: 60px;
  top: 25px;
}

.Contacts__right-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-left: 8px;
  align-items: center;
}

.gmail-icon {
  height: 30px;
  width: 40px;
}

.footer {
  background: linear-gradient(
    -45deg,
    #185158fb,
    #3ea2affb,
    #2e8f9cfb,
    #ebe7e7,
    #ffffff,
    #2e8f9cfb,
    #3ea2affb,
    #185158fb
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100px;
}

.footer-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0;
  color: #490a3bfb;
  opacity: unset;
  text-decoration: one;
  font-size: 18px;
  font-weight: 800;
  font-family: Montserrat;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 80;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  max-width: 800px;
  padding: 30px 30px;
  position: relative;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 0.8s ease 0s;
}

.popup__close {
  position: absolute;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bolder;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.popup__title {
}

.popup__heading {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

.popup__subheading {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
}

.popup-form input {
  height: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 25px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  display: block;
}

.popup-form-btn {
  width: 450px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 10px 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #000000fb;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  background-color: #000000fb;
  color: aliceblue;
  cursor: pointer;
}

.popup-form-btn:hover {
  background-color: #402055;
  box-shadow: rgb(46, 60, 71) inset 0 0 10px;
}
