html {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  /* font-family: "Montserrat Alternates", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif; */
}

.container {
  /* минимальная или максимальная ширина */
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  padding: 0;
}

section {
  padding: 100px 100px;
  /* 
  не надо задавать максимальную высоту секции  max-height: 100vh;
 */
  background-color: rgba(248, 248, 248, 0.856);
}

h3 {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 15px;
  font-size: 36px;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
  font-family: Montserrat;
  color: rgb(129, 14, 58);
}

.logo__text {
  /*   color: rgba(240, 248, 255, 0.575); */
  color: #490a3bfb;
  opacity: unset;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8px;
  font-weight: 800;
  font-family: Montserrat;
}

.menu__list {
  font-family: Montserrat;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu__list-item {
  margin-left: 20px;
}

.menu__list-link {
  color: aliceblue;
  text-decoration: none;
}

.header {
  background-color: rgba(46, 8, 48, 0.822);
}

.header__top-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 70px;
  background: linear-gradient(
    45deg,
    #ebe7e7,
    #ffffff,
    #e6e7bd,
    #89e3fac7,
    #af92ffb4,
    #736599ec,
    #490a3bfb
  );
}

.header__content-inner {
  padding: 40px 40px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /*   background-color: rgba(248, 248, 248, 0.856);
 */
  background: linear-gradient(
    25deg,
    #e7f1f8,
    #ffffff,
    #ffffff,
    #ffffff,
    #cbefff
  );
}

.heading__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 45px;
  margin-left: 100px;
}

.main__heading {
  width: 350px;
  font-family: Montserrat;
}

.main__heading-color {
  color: rgb(129, 14, 58);
  display: block;
  /*  Делаю анимацию для заголовка */
  /*   animate__zoomIn */
}

.frontend {
  font-size: 48px;
}

.header__content-image {
  background-size: contain;
  width: 600px;
  height: 500px;
}

.content__text {
  font-family: Montserrat;
  line-height: 36px;
}

.cooperation {
  color: rgb(129, 14, 58);
  font-weight: 700;
  display: inline-block;
}

.icons {
  font-size: 40px;
  color: rgb(129, 14, 58);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockquote {
  background: linear-gradient(
    45deg,
    #af92ffb4,
    #89e3fac7,
    #e6e7bd,
    #ffffff,
    #ebe7e7
  );
  background-repeat: no-repeat;
  height: 30px;
  color: rgb(49, 36, 66);
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockquote-text {
  margin: 0;
}

.quote {
  font-size: 16px;
  text-align: center;
  align-items: center;
}

.arrow-image {
  width: 30px;
  height: 35px;
}

.about {
  background: linear-gradient(
    60deg,
    #d2e3e7,
    #ffffff,
    #ffffff,
    #ffffff,
    #d2e3e7
  );
}

.about__inner {
  display: flex;
  flex-direction: row;
}

.about__text-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.about__text {
  width: 400px;
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 25px;
}

h2.about__heading {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 15px;
  font-size: 36px;
  font-family: Roboto;
}

.header__about {
  border-bottom: 5px solid rgb(129, 14, 58);
  display: block;
  width: 400px;
  padding-top: 5px;
}

.about__images-inner {
  padding-top: 200px;
  padding-right: 50px;
}

.about__image-bg {
  width: 400px;
  height: 356px;
  position: absolute;
  z-index: 100;
}

.about__image-photo {
  width: 400px;
  height: 356px;
  border-radius: 50%;
  position: absolute;
  z-index: 90;
}

.about__btn {
  height: 45px;
  width: 250px;
  background-color: rgb(129, 14, 58);
  margin-left: 380px;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: rgb(11, 23, 32) inset 0 0 6px;
  /*   margin: 0 auto; кнопка встаёт вначале странице */
}

.about__btn:hover {
  background-color: rgb(11, 23, 32);
  box-shadow: rgb(46, 60, 71) inset 0 0 10px;
}

.btn__text {
  font-size: 18px;
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
  font-family: Roboto Condensed;
}

.animate__pulse {
  animation-iteration-count: infinite;
}

.My__skills {
  min-height: 400px;
  background: linear-gradient(75deg, #ffffff, #dfe9f8c9, #ffffff, #ffffff);
}

.My__skills-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.My__skills-heading {
  padding: 0;
  margin-bottom: 100px;
}

.My__skills-info {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.My__skills-info-item {
  width: 350px;
  border-top: 3px solid rgb(82, 34, 97);
  padding: 10px 0 28px;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1d1d1d;
  position: relative;
}

.My__skills-info-item span {
  display: block;
  position: absolute;
  margin-right: 7px;
  right: 0;
  top: 0;
}

.My__skills-info-item span::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #f0f0f0;
  right: -7px;
  top: -3px;
  width: 100%;
}

.My__skills-icons {
  width: 450px;
  display: flex;
  flex-direction: center;
  justify-content: space-between;
}

.My__skills-icons-inner {
  column-count: 3;
  column-gap: 20px;
  padding-bottom: 10px;
}

.My__skills-icon {
  width: 130px;
}

.My__offering {
  background-image: url(images/bg-images/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.my__offering-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  /*  top: 0;
  left: 0; */
}

.Main-section-heading {
  padding-top: 15px;
  font-family: Montserrat;
  border-bottom: 5px solid rgb(129, 14, 58);
  height: 100px;
  display: flex;
  flex-direction: column;
}

.my__offering-item {
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 450px;
  color: rgb(0, 0, 0);
  font-family: Roboto Condensed;
  font-size: 25px;
  line-height: 45px;
  box-shadow: rgba(31, 9, 9, 0.698) 0 0 15px;
  align-items: center;
  text-align: center;
}

/* web-design {
  margin: 0;
} */

.offering__list {
  list-style: none;
  text-align: left;
  line-height: 30px;
  max-width: 300px;
  list-style-type: circle;
}

.offering__list-item:hover {
  min-width: 350px;
  min-height: 40px;
  border-radius: 35px;
  background-color: rgb(129, 14, 58);
  color: aliceblue;
  text-align: center;
}

.border {
  margin-top: 60px;
  height: 125px;
  border-left: 5px solid rgb(129, 14, 58);
  position: relative;
  margin-top: 250px;
  left: 486px;
}

.portfolio {
  background-image: url(images/portfolio-bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.portfolio__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-count: 2;
  column-gap: 30px;
  width: 600px;
}

.portfolio__item {
  width: 500px;
  height: 300px;
  border: 2px solid gray;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
